/* Bloco Vermelho */
.promoContent {
  background: linear-gradient(to right, #B20000, #8b0000); /* Gradiente vermelho */
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  width: 100%;
}

.promoContent h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.promoContent p {
  font-size: 18px;
  margin-bottom: 20px;
}

.promoButton {
  padding: 12px 24px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 30px;
  border-radius: 30px;
}

/* Bloco Cinza Claro */
.signupSection {
  background-color: #f5f5f5; /* Fundo cinza claro */
  width: 100%; /* Fundo ocupa 100% da tela */
  padding: 40px 20px;
  box-sizing: border-box;
}

.signupContent {
  max-width: 1200px; /* Largura máxima igual ao footer */
  margin: 0 auto; /* Centraliza o conteúdo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signupText {
  flex: 0 0 50%; /* 50% da largura */
}

.signupText h2 {
  font-size: 24px;
  color: #000;
}

.signupText p {
  font-size: 16px;
  color: #000;
}

.signupForm {
  flex: 0 0 60%; /* 60% da largura */
  display: flex;
  flex-direction: column;
  max-width: none; /* Remover a largura máxima */
  width: 100%; /* Ocupa 100% da largura disponível */
}

.signupForm label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.signupForm input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 10px;
  font-size: 16px;
  color: #B20000;
  background-color: #fff;
  border: 1px solid #B20000;
  cursor: pointer;
  border-radius: 30px; /* Adiciona border-radius de 30px */
  align-self: flex-start; /* Alinha o botão à esquerda */
  width: 100px; /* Largura do botão */
  margin-top: 30px; /* Espaçamento superior */
}

.email {
  width: 70%;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.checkboxLabel {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
  .signupContent {
    flex-direction: column;
    text-align: center;
  }

  .signupText {
    flex: 0 0 100%; /* 100% da largura */
    margin-bottom: 20px;
  }

  .signupForm {
    flex: 0 0 100%; /* 100% da largura */
    align-items: center; /* Centraliza o formulário */
  }

  .signupForm label,
  .signupForm input,
  .submitButton {
    width: 100%; /* Ocupa 100% da largura disponível */
    text-align: center; /* Centraliza o texto */
  }

  .email {
    width: 100%; /* Ocupa 100% da largura disponível */
  }

  .submitButton {
    align-self: center; /* Centraliza o botão */
  }

  .promoContent {
    padding: 20px 10px;
  }

  .promoContent h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .promoContent p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .promoButton {
    font-size: 18px;
    padding: 10px 20px;
    width: 80%;
  }
}