/* Bloco Vermelho */
.promoContent {
  background: url('/assets/barra-cinza-vermelho.png') no-repeat center center;
  background-size: cover;
  padding: 40px 20px;
  color: var(--color-white);
  width: 100%;
  height: auto;
}

.promoContentUnique {
  color: var(--color-white);
  text-align: center;
  height: auto;
}

.promoContent h1,
.promoContent p,
.signupText h2,
.signupText p,
.signupForm label,
.signupForm input,
.submitButton,
.checkboxLabel {
  font-family: var(--font-family);
}

.promoContent h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.promoContent p {
  font-size: 18px;
  margin-bottom: 20px;
}

.promoButton {
  padding: 12px 24px;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  cursor: pointer;
  font-size: 30px;
  border-radius: var(--border-radius);
}

/* Bloco Cinza Claro */
.signupSection {
  margin: 100px 0 50px;
  width: 100%;
}

.signupContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 100px;
}

.signupText {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupText h2 {
  font-size: 24px;
  color: var(--color-black);
}

.signupText p {
  font-size: 16px;
  color: var(--color-black);
}

.signupForm {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signupForm label {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--color-black);
}

.signupForm input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 10px;
  font-size: 16px;
  color: var(--color-red);
  background-color: var(--color-white);
  border: 1px solid var(--color-red);
  cursor: pointer;
  border-radius: var(--border-radius);
  align-self: flex-start;
  width: 100px;
  margin-top: 30px;
}

.email {
  width: 70%;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.checkboxLabel {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.iconBlack {
  color: var(--color-black);
}

/* Responsividade */

/* Telas até 1024px */
@media (max-width: 1024px) {
  .signupContent {
    padding-left: 50px;
    padding-right: 50px;
  }

  .promoContent h1 {
    font-size: 32px;
  }

  .promoButton {
    font-size: 26px;
    padding: 10px 20px;
  }
}

/* Telas até 768px */
@media (max-width: 768px) {
  .signupContent {
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .signupText {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .signupForm {
    flex: 0 0 100%;
    align-items: center;
  }

  .signupForm label,
  .signupForm input,
  .submitButton {
    width: 100%;
    text-align: center;
  }

  .email {
    width: 100%;
  }

  .submitButton {
    align-self: center;
  }

  .promoContent {
    padding: 20px 10px;
  }

  .promoContent h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .promoContent p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .promoButton {
    font-size: 18px;
    padding: 10px 20px;
    width: 80%;
  }
}

/* Telas até 480px */
@media (max-width: 480px) {
  .signupSection {
    margin: 50px 0 30px;
  }

  .promoContent h1 {
    font-size: 20px;
  }

  .promoContent p {
    font-size: 14px;
  }

  .promoButton {
    font-size: 16px;
    padding: 8px 16px;
    width: 100%;
  }
}
