/* banner.module.css */
@font-face {
    font-family: 'isidora-regular';
    src: url('/assets/fonts/Isidora-regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'isidora-light';
    src: url('/assets/fonts/Isidora-Light.otf') format('opentype');
  }

.bannercontainer {
    position: relative;
    width: 100%;
    height: 70vh; /* Ajuste conforme necessário */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bannerslider {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000; /* Ajuste conforme necessário */
    padding: 30px;
    position: relative;
    z-index: 1; /* Certifique-se de que o texto está acima do vídeo */
}

.bannertitle {
    font-size: 50px; /* Ajuste conforme necessário */
    margin-bottom: 1rem;
    font-family: 'isidora-regular';
}

.bannerdescription {
    font-size: 34px; /* Ajuste conforme necessário */
    font-family: 'isidora-light';
}

.span {
    color: #000; 
    background-color:#B7D433;/* Ajuste conforme necessário */
    padding: 2px;
}

/* Estilos para garantir que as setas e os pontos sejam visíveis */
.slick-prev, .slick-next {
    z-index: 2;
    color: #000; /* Ajuste conforme necessário */
}

.slick-dots li button:before {
    color: #000; /* Ajuste conforme necessário */
}

/* Media queries para responsividade */

/* Tablets e dispositivos menores */
@media (max-width: 768px) {
    .bannercontent {
        padding: 10px;
    }

    .bannertitle {
        font-size: 2rem;
    }

    .bannerdescription {
        font-size: 1rem;
    }
}

/* Dispositivos móveis */
@media (max-width: 480px) {
    .bannercontent {
        padding: 5px;
    }

    .bannertitle {
        font-size: 1.5rem;
    }

    .bannerdescription {
        font-size: 0.875rem;
    }
}