.layoutSection {
  width: 100%;
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0px 120px 0px;
  background-color: #fff;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  background-image: url("/assets/verde-rodape.png");
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: calc(50% - 160px) bottom;
  z-index: 1;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.columnItemsStart {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}

.columnStart {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  padding: 10px 0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 0;
}

.copyright {
  font-size: 12px;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
}

.title {
  font-size: 20px;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.disclaimer {
  font-size: 14px;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.socialIcons i {
  font-size: 20px;
  color: #000; /* Preto */
  margin-right: 5px;
}

.inlineLinks {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
}

.inlineLinks a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;
}

.inlineLinks span {
  color: #000;
}

/* Estilo para a imagem do rodapé */
.footerImage {
  display: none;
}

.footerImage img {
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .column {
    margin-bottom: 20px;
  }
}
