.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px; /* Ajuste conforme necessário */
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    color: #000; /* Alterar a cor conforme necessário */
    transition: transform 0.3s ease;
}

.iconContainer:hover .icon {
    transform: translateY(5px);
}