
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-red: #B20000;
    --border-radius: 30px;
  }

  @font-face {
    font-family: 'Isidora';
    src: url('/assets/fonts/IsidoraSans-SemiBold.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'IsidoraSans-Thin';
    src: url('/assets/fonts/IsidoraSans-Thin.ttf') format('opentype');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

.scroll-icon {
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.scroll-icon i {
    font-size: 4rem;
    color: #000;
}

.slick-prev:before, .slick-next:before {
    color: black; /* Altere a cor conforme necessário */
    position: absolute;
    z-index: 9998;
}

/* Estilo de fundo */
.elementor-section {
    background-image: url('/assets/imagem2.png');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    opacity: 0.5;
}
/* Estilo dos cartões */
.cardCustom {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 20px;
    border-radius: 8px;
    position: relative;
	width: auto;
	margin-left:20px;
	height: 580px;
	width: 260px;
    z-index: 1;
}

.cardNumber {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #000; /* Cor do número */
    font-family: 'Isidora';
}

.card-title {
    display: inline;
}

.card-header-um {
    text-align: center;
}

.highlight {
    color: #d81b60; /* Cor rosa/vermelho para o texto destacado */
    font-weight: bold;
    font-family: 'Isidora';
}

.card-text {
    font-size: 16px;
    color: #000;
    font-family: 'Isidora';
}

.btnSeeMore {
    background-color: #61CE7000;
    fill: #000000;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #B30404;
    border-radius: 40px;
    font-family: 'Isidora';
    text-decoration: none;
    font-weight: 500;
    text-align: center;
	  width:60%;
}

/* Estilo para criar o efeito de escadinha */
#card1 {
    margin-top: 0px; /* Primeiro card sem deslocamento */
}

#card2 {
    margin-top: 100px; /* Segundo card com um pequeno deslocamento */
}

#card3 {
    margin-top: 160px; /* Terceiro card com mais deslocamento */
}

#card4 {
    margin-top: 320px; /* Quarto card com ainda mais deslocamento */
    margin-bottom: 50px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    margin-left: 0px;
}

.rightAlign {
    text-align: right;
}

.leftAlign {
    text-align: right;
}

.blackText {
    font-family: 'Isidora';
    font-size: 2rem; /* Ajuste o tamanho para que fique mais próximo do desejado */
    font-weight: bold;
    color: #000; /* Cor padrão do título */
    margin-left: 15px;
    line-height: 1.1;
	  text-align: right;
}

.grayText {
    color: gray;
    font-size: 3.9rem;
    font-weight: bold;
    font-family: 'IsidoraSans-Thin';
	text-align: right;
}

.redText {
    font-family: 'Isidora';
    color: #d81b60;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    padding-left: 10px;
}

/* Estilo dos comentários */
.ti-widget.ti-wp-testimonial-1 {
    overflow: visible !important;
}

.ti-widget.ti-wp-testimonial-1 {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: left;
    direction: ltr;
    box-sizing: border-box;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container {
    display: block;
    color: #000000;
    margin-bottom: 15px;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container, .ti-widget.ti-wp-testimonial-1 .ti-widget-container * {
    font-family: "Open Sans Italic";
    font-size: 14px;
    line-height: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ti-widget.ti-wp-testimonial-1 .ti-controls {
    display: block;
    margin-top: -12px;
    width: 100%;
    position: absolute;
    height: 0px;
    z-index: 1;
    top: 50%;
}

.ti-widget.ti-wp-testimonial-1 .ti-controls .ti-next {
    right: 2px;
}

.ti-widget.ti-wp-testimonial-1 .ti-controls .ti-prev {
    left: 2px;
}

.ti-widget.ti-wp-testimonial-1 .ti-controls .ti-next, .ti-widget.ti-wp-testimonial-1 .ti-controls .ti-prev {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    opacity: 1;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.ti-widget.ti-wp-testimonial-1 .ti-reviews-container .ti-reviews-container-wrapper {
    padding-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 20px !important;
    padding-bottom: 8px;
}

.ti-widget.ti-wp-testimonial-1 .ti-col-3 .ti-review-item {
    flex: 0 0 50% !important;
    max-width: 50% !important;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item {
    display: flex !important;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item {
    padding: 0 8px;
    transition: transform 300ms ease-out;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    width: 100%;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item>.ti-inner, .ti-widget.ti-wp-testimonial-1 .ti-load-more-reviews-container .ti-load-more-reviews-button {
    backdrop-filter: blur(0px);
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-stars {
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    text-align: left;
}

.ti-widget.ti-wp-testimonial-1 .ti-reviews-container-wrapper .ti-inner>.ti-stars, .ti-widget.ti-wp-testimonial-1 .ti-reviews-container-wrapper .ti-popup-inner>.ti-stars {
    margin-bottom: 8px;
    margin-top: 15px;
    text-align: center;
}

.ti-widget.ti-wp-testimonial-1.ti-no-stars .ti-review-item .ti-stars .ti-star.f {
    display: none;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-stars .ti-star {
    width: 18px;
    height: 18px;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-review-header {
    flex-wrap: wrap;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-review-header::after {
    top: 0px !important;
    right: 0px !important;
    left: unset !important;
}

.ti-widget.ti-wp-testimonial-1.ti-no-logo .ti-review-header:after {
    border: none;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-review-content {
    text-align: center;
    margin-bottom: 15px;
    height: 150.5px !important;
}

.ti-widget.ti-wp-testimonial-1 .ti-read-more {
    display: block;
    padding: 5px 0 0;
    text-align: center;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-profile-details {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: left;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-item .ti-inner .ti-profile-details .ti-name {
    padding-right: 0px;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container .ti-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #801619;
    margin-bottom: 2px;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container .ti-date {
    color: #000000;
    font-size: 11.2px !important;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container, .ti-widget.ti-wp-testimonial-1 .ti-widget-container * {
    font-family: "Open Sans Italic";
    font-size: 14px;
    line-height: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.ti-widget.ti-wp-testimonial-1 .ti-widget-container {
    display: block;
    color: #000000;
    margin-bottom: 15px;
}

.ti-widget.ti-wp-testimonial-1 .ti-review-content {
    font-family: "Open Sans";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 18.85px;
    font-size: 16px;
    text-align: center;
    transition: height 0.5s;
    font-style: normal;
    -webkit-line-clamp: 10;
    overflow: hidden;
    padding-right: 0;
    margin-top: 30px;
    padding: 20px
}

.elementor-widget-image-carousel .swiper, .elementor-widget-image-carousel .swiper-container {
    position: static;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.e-con .elementor-widget-empty, .e-con .elementor-widget-google_maps, .e-con .elementor-widget-video, .e-con .elementor-widget.e-widget-swiper {
    width: 100%;
}

.elementor-8 .elementor-element.elementor-element-1961a4d6 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-widget-image-carousel .swiper-slide {
    text-align: center;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0;
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure, .elementor-widget-image-carousel .swiper .swiper-slide figure {
    line-height: inherit;
}

.elementor-8 .elementor-element.elementor-element-27587c75,
.elementor-8 .elementor-element.elementor-element-2f0c71d4 .elementor-heading-title {
    color: var( --color-red );
    font-family: "Isidora Sans Semibold", Sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.elementor-8 .elementor-element.elementor-element-27587c75, 
.elementor-8 .elementor-element.elementor-element-2f0c71d4  {
    text-align: center;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure, .elementor-widget-image-carousel .swiper .swiper-slide figure {
    line-height: inherit;
}

.elementor-element .swiper-container .elementor-swiper-button-prev, .elementor-element .swiper-container~.elementor-swiper-button-prev, .elementor-element .swiper .elementor-swiper-button-prev, .elementor-element .swiper~.elementor-swiper-button-prev, .elementor-lightbox .swiper-container .elementor-swiper-button-prev, .elementor-lightbox .swiper-container~.elementor-swiper-button-prev, .elementor-lightbox .swiper .elementor-swiper-button-prev, .elementor-lightbox .swiper~.elementor-swiper-button-prev {
    left: 10px;
}

.elementor-element .swiper-container .elementor-swiper-button, .elementor-element .swiper-container~.elementor-swiper-button, .elementor-element .swiper .elementor-swiper-button, .elementor-element .swiper~.elementor-swiper-button, .elementor-lightbox .swiper-container .elementor-swiper-button, .elementor-lightbox .swiper-container~.elementor-swiper-button, .elementor-lightbox .swiper .elementor-swiper-button, .elementor-lightbox .swiper~.elementor-swiper-button {
    position: absolute;
    display: inline-flex;
    z-index: 1;
    cursor: pointer;
    font-size: 25px;
    color: hsla(0,0%,93.3%,.9);
    top: 50%;
    transform: translateY(-50%);
}

.elementor-element .swiper-container .elementor-swiper-button svg, .elementor-element .swiper-container~.elementor-swiper-button svg, .elementor-element .swiper .elementor-swiper-button svg, .elementor-element .swiper~.elementor-swiper-button svg, .elementor-lightbox .swiper-container .elementor-swiper-button svg, .elementor-lightbox .swiper-container~.elementor-swiper-button svg, .elementor-lightbox .swiper .elementor-swiper-button svg, .elementor-lightbox .swiper~.elementor-swiper-button svg {
    fill: hsla(0,0%,93.3%,.9);
    height: 1em;
    width: 1em;
}

.elementor-element .swiper-container .elementor-swiper-button-next, .elementor-element .swiper-container~.elementor-swiper-button-next, .elementor-element .swiper .elementor-swiper-button-next, .elementor-element .swiper~.elementor-swiper-button-next, .elementor-lightbox .swiper-container .elementor-swiper-button-next, .elementor-lightbox .swiper-container~.elementor-swiper-button-next, .elementor-lightbox .swiper .elementor-swiper-button-next, .elementor-lightbox .swiper~.elementor-swiper-button-next {
    right: 10px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.elementor-element .swiper-container .swiper-horizontal>.swiper-pagination-bullets, .elementor-element .swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-element .swiper-container .swiper-pagination-custom, .elementor-element .swiper-container .swiper-pagination-fraction, .elementor-element .swiper-container~.swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-element .swiper-container~.swiper-pagination-custom, .elementor-element .swiper-container~.swiper-pagination-fraction, .elementor-element .swiper .swiper-horizontal>.swiper-pagination-bullets, .elementor-element .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-element .swiper .swiper-pagination-custom, .elementor-element .swiper .swiper-pagination-fraction, .elementor-element .swiper~.swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-element .swiper~.swiper-pagination-custom, .elementor-element .swiper~.swiper-pagination-fraction, .elementor-lightbox .swiper-container .swiper-horizontal>.swiper-pagination-bullets, .elementor-lightbox .swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-lightbox .swiper-container .swiper-pagination-custom, .elementor-lightbox .swiper-container .swiper-pagination-fraction, .elementor-lightbox .swiper-container~.swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-lightbox .swiper-container~.swiper-pagination-custom, .elementor-lightbox .swiper-container~.swiper-pagination-fraction, .elementor-lightbox .swiper .swiper-horizontal>.swiper-pagination-bullets, .elementor-lightbox .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-lightbox .swiper .swiper-pagination-custom, .elementor-lightbox .swiper .swiper-pagination-fraction, .elementor-lightbox .swiper~.swiper-pagination-bullets.swiper-pagination-horizontal, .elementor-lightbox .swiper~.swiper-pagination-custom, .elementor-lightbox .swiper~.swiper-pagination-fraction {
    bottom: 5px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.elementor-8 .elementor-element.elementor-element-2c6b8094 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 2% 2%;
    --background-transition: 0.3s;
}

.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-slide {
    flex-shrink: 8 !important;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
elementor-element.elementor-element-9383a9a.elementor-widget.elementor-widget-image {
    z-index: 9999;
}

.elementor-8 .elementor-element.elementor-element-9383a9a img {
    width: 95%;
    z-index: 9999 !important;
}
img.attachment-full.size-full.wp-image-157 {
    margin-top: -370px;
    z-index: 0;
}

@media (max-width: 1280px) {
    .elementor-8 .elementor-element.elementor-element-9383a9a img {
        z-index: 9999 !important;
    }
    img.attachment-full.size-full.wp-image-157 {
        margin-top: -300px; /* Ajuste conforme necessário */
        z-index: 1;
    }
}


@media (max-width: 1366px) {
    .elementor-8 .elementor-element.elementor-element-9383a9a img {
        z-index: 9999 !important;
    }
    img.attachment-full.size-full.wp-image-157 {
        margin-top: -300px; /* Ajuste conforme necessário */
        z-index: 0;
    }
}

@media (max-width: 768px) {
    img.attachment-full.size-full.wp-image-157 {
        margin-top: -200px; /* Ajuste conforme necessário */
    }
}

@media (max-width: 480px) {
    img.attachment-full.size-full.wp-image-157 {
        margin-top: -100px; /* Ajuste conforme necessário */
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Estilos específicos para dispositivos Mac */
    .elementor-8 .elementor-element.elementor-element-9383a9a img {
        z-index: 9999 !important;
    }
    img.attachment-full.size-full.wp-image-157 {
        margin-top: -250px; /* Ajuste conforme necessário */
    }
}